// general image mixin
@mixin background-image(
  $url,
  $width: 100%,
  $height: 100%,
  $position: center center,
  $repeat: no-repeat
) {
  background-image: url('../assets/' + $url);
  background-size: $width $height;
  background-position: $position;
  background-repeat: $repeat;
}
@mixin image-logo-sm {
  @include background-image('logo.svg');
}
@mixin lock-icon {
  @include background-image('lock.svg', 24px, 24px);
}
@mixin icon-home {
  @include background-image('icon-home-inactive.svg', 24px, 24px);
}

@mixin inactive-toggle-icon {
  @include background-image('inactive-toggle-icon.svg');
}
@mixin active-toggle-icon {
  @include background-image('active-toggle-icon.svg');
}
@mixin funnel-icon {
  @include background-image('funnel.svg');
}
@mixin collapse-icon {
  @include background-image('collapse.svg');
}
@mixin search-icon {
  @include background-image('search.svg', 12px, 12px);
}
@mixin edit-icon {
  @include background-image('edit.svg', 16px, 16px);
  cursor: pointer;
}
@mixin delete-icon {
  @include background-image('delete.svg', 16px, 16px);
  cursor: pointer;
}

@mixin detail-edit-icon {
  @include background-image('edit-b.svg', 32px, 32px);
}
@mixin detail-del-icon {
  @include background-image('del-b.svg', 32px, 32px);
}
