@import '../../styles/index.scss';

.tl-app-header {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1d5e5;
  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    &--logo {
      @include image-logo-sm;
      width: 157px;
      height: 40px;
    }
    &--separator {
      margin: 0 30px;
      width: 1px;
      background-color: #d1d5e5;
      height: 40px;
    }
    &--title {
      color: #031a34;
      font-size: 22px;
      font-family: 'Inter';
      font-weight: 400;
    }
  }
  &__right {
    .nav-item,
    .dropdown {
      .dropdown-toggle::after {
        display: none;
      }
      .dropdown-meu,
      .show {
        .dropdown-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 13px;
          font-weight: 500;
          .update-icon {
            height: 16px;
            width: 16px;
            @include update-user-icon;
            margin-right: 5px;
          }
          .mgt-icon {
            height: 16px;
            width: 16px;
            @include usermgt-icon;
            margin-right: 5px;
          }
          .logout-icon {
            height: 16px;
            width: 16px;
            @include logout-icon;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
